.form {
  &-control {

    &-group {
      position: relative;
    }

    &-input {

      &:focus {
        outline: 0;
      }

      :global(.has-error) & {
        border-color: #f98e8e;
      }

      :global(.has-success) & {
        border-color: #8cca8c;
      }

    }

    &-tooltip {
      position: absolute;
      bottom: calc(100% + .5em);
      left: .5em;
      width: 14.5em;
      padding: .5em;
      border: 1px solid #e2e2e2;
      border-radius: 1em 1em 1em 0;
      background: #FFFFFF;
      opacity: 0;
      transform: translateY(1em);
      transition: opacity .15s linear, transform .25s linear;
      pointer-events: none;

      :global(.has-tooltip) & {
        transform: translateY(0);
        opacity: 1;
      }
    }

  }
}
